@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Maven+Pro:wght@400..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/1-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    /*background-attachment: fixed;*/
}

.Gotleeb {
    color: white;
    margin-left: 900px;
    margin-right: 900px;
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 600px;
    z-index: 1;
    transition: transform .8s;
    box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.2), 0 160px 200px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

nav {
    padding-top: 400px;
    color: #c7c4c7;
    text-align: left;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-size: 80px;
    text-transform: uppercase;
    opacity: 0.8;
    position: absolute;
}

li {
    padding: 250px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #4fffe4;
    opacity: 0.7;
    transition: transform .7s;
}

.Gotleeb:hover {
    transform: scale(1.1);
}

.main-container {
    height: 1500px;
    width: 100%;
}

.Gleb {
    color: white;
    margin-left: 900px;
    margin-right: 900px;
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 70px;
    z-index: 1;
    cursor: pointer;
}

a:hover {
    transform: scale(1.5);
    color: #cb7c6c;
}

body {
    zoom: 25%;
}



/*.main-container {*/
/*    background-color: #262833;*/
/*    padding-top: 1500px;*/
/*    margin-left: 1100px;*/
/*    margin-right: 1100px;*/
/*    border-radius: 200px;*/
/*    opacity: 0.3;*/
/*    z-index: 2;*/
/*}*/






@media (max-width: 375px) {
    .Gotleeb {
        color: white;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        font-family: "Boldonse", system-ui;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 150px;
        z-index: 1;
        transition: transform .8s;
        box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.2), 0 160px 200px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }

    nav {
        padding-top: 190px;
        color: #c7c4c7;
        text-align: left;
        font-family: "Boldonse", system-ui;
        font-weight: 400;
        font-size: 25px;
        text-transform: uppercase;
        opacity: 0.8;
        position: absolute;
    }

    li {
        padding: 60px;
        z-index: 1;
    }

    .main-container {
        height: 350px;
        width: 100%;
    }

    .Gleb {
        color: white;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        font-family: "Boldonse", system-ui;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 20px;
        z-index: 1;
        cursor: pointer;
    }
}